.title{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    color: rgb(211, 211, 211);
    margin-bottom: 60px;
}
.title div{
    background: #4e93e6;
    width: 55px;
    height: 2px;
    margin: 30px auto;
}
.subTitle{
    position: absolute;
    right: 35%;
    top: 50%;
    font-size: 52px;
    line-height: 1;
    font-weight: 600;
    color: rgba(25,29,43,.44);
    display: inline-block;
    text-transform: uppercase;
    z-index: -1;
}