
.main{
    background: #292d3b;
    height: 100vh;
    padding: 100px 0;
    text-align: center;
    color: rgba(211, 211, 211, 0.84);
}
.social{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 15px auto;
}

@media (max-width: 550px) {
    .main{
        margin-left:0;
        margin-bottom: 20px;
    }
}
