.main{
    width: 100%;
    background: #292d3b;
    min-height: 100vh;

}
.main h1,div{
    text-align: center;
    color: rgba(211, 211, 211, 0.84);
}
.social{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 15px auto;
}

@media (max-width: 550px) {
    .main{
        margin-left:0;
    }
}
