.skills{
    padding: 50px 0;
    background: #252527
}
.skillsWrap{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;

}

/*@media (max-width: 564px)  {*/
/*    .skillsWrap{*/
/*        margin-bottom:50px ;*/
/*    }*/
/*    .skillCol{*/
/*        width: 50%;*/
/*    }*/
/*}*/
/*@media (max-width: 360px) {*/
/*    .skillCol{*/
/*        width: 100%;*/
/*    }*/
/*}*/