.header-inner{
    position: relative;
    background: #191d2b;
    border-bottom: 1px solid #2e344e;
    min-height: 100%;
    width: 200px;
    border-right: 1px solid #2e344e;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.header-image{
    padding: 20px 0;
    display: block;
    width: 100%;
    text-align: center;
    border: 1px solid #2e344e;
}
.header-image a {
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: white 2px solid;
    overflow: hidden;
}
img{
    transform: scale(2)translate(3px, 20px);
    max-width: 100%;
}
@media (max-width: 850px)  {
    .header-inner{
        display: none;
    }
}
