.App{
  width: 100%;
  overflow: hidden;
  height: 100%;
  display: flex;
}
.particles {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  bottom: 0;
}
@media (max-width: 850px)  {
  .App{
    display: block;
  }
}